* {
    background: papayawhip;
}

a[href="https://platzi.com/home"] {
    color: darkgreen;
}

img {
    width: 100%;
}

/* TIPOS DE SELECTORES */

div {
    background: yellow;
}

.nombre_isla {
    color: aqua;
    background: sienna;
}

.texto_isla {
    color: darkgreen;
    background: salmon;
}

#example_id {
    color: brown;
    background: black;
}

form {
    margin-top: 15px;
    color: blue;
}