/* esto se declara dentro de root para que su scope sea general */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-ligth-pink: #c7c7c7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}


body {
    /* background: black; */
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.account {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}



.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 250px;
}

.form div {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: var(--md);
    margin-bottom: 12px;
}

.form {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 150px;
    margin-bottom: 50px;
    justify-self: center;
    display: none;

}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.value {
    color: var(--very-ligth-pink);
    font-size: var(--md);
    margin: 8px 0 32px 0;
}

.secondary-button {
    background-color: var(--white);
    border: 1px solid var(--hospital-green);
    border-radius: 8px;
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: normal;
    height: 48px;
    align-self: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 32px;
    margin-bottom: 30px;
}

@media (max-width: 640px) {
    .form-container {
        height: 100%;
    }

    .form {
        height: 100%;
        justify-content: space-between;
    }
}