html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  padding: 15px;
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  width: auto;
  color: #7C6A0A;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 50px;
  gap: 25px;
}
article h1 {
  font-size: 3em;
  padding: 0px;
  margin: 0px;
}
article p {
  font-size: 1.5em;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 12vw;
  padding: 20px;
  background-color: #Fa9500;
  border-radius: 35px;
  color: white;
  font-size: 1em;
}
article button:hover {
  transform: scale(1.1);
}
article img {
  width: 25vw;
  border-radius: 19px;
}

section {
  width: auto;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2em;
}
section .healthcare, section .forniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .forniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
section .healthcare .card-section, section .forniture .card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: auto;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
  flex-wrap: wrap;
}
section .healthcare .product-card, section .forniture .product-card {
  width: 14vw;
  height: 45vh;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
}
section .healthcare .product-card .icon, section .forniture .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .healthcare .product-card .icon svg path, section .forniture .product-card .icon svg path {
  width: 28px;
  height: 28px;
  stroke: #7C6A0A;
}
section .healthcare .product-card .product-image, section .forniture .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .product-card .product-image img, section .forniture .product-card .product-image img {
  width: 12vw;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .forniture .product-card {
  background-color: #BABD8D;
  color: white;
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-us .mission-section .earth, .about-us .mission-section .innovation {
  width: 30vw;
  display: flex;
  gap: 40px;
  color: #E86424;
}
.about-us .mission-section .earth img, .about-us .mission-section .innovation img {
  -o-object-fit: cover;
     object-fit: cover;
}
.about-us .mission-section .earth p, .about-us .mission-section .innovation p {
  text-align: center;
  font-size: 1.5em;
}
.gallery h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .gallery-images img {
  width: 28vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
  border-radius: 16px;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.location {
  color: #E86424;
}
.location h2 {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 2.5em;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.location h3,
.location p {
  font-size: 1.5em;
}

footer {
  background-color: #Fa9500;
  width: 100%;
  height: auto;
  padding: 40px;
  color: white;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=main.css.map */