:root {
        --skin: #f6c09c;
        --background: #ed4042;
        --red: #ed2860;
        --dark-red: #680524;
        --black: #00243a;
        --white: #fff;
}

.container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .head {
                width: 100px;
                height: 200px;
                background-color: var(--skin);
                border-radius: 50px;
                position: relative;

                .eye-left {
                        width: 20px;
                        height: 20px;
                        background-color: var(--red);
                        position: absolute;
                        top: 80px;
                        border-radius: 50%;
                        left: 20px;
                }
        }

}