$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 1.5em;
$quaternion-color: #Fa9500;

@mixin flexCenter ($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}


html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    height: 100px;
    @include flexCenter(row, space-between, center);
    color: $primary-text-color;
    padding: 15px;

    p {
        font-size: 1.5em;
        padding-left: 30px;
    }

    .icons {
        display: flex;
        gap: 15px;
        @include buttonStyle;
    }
}

article {
    width: auto;
    color: $primary-text-color;
    padding-left: 45px;
    padding-right: 45px;
    @include flexCenter(row, space-between, center);

    .impact-section {
        @include flexCenter(column, space-evenly, flex-start);
        padding-top: 50px;
        gap: 25px;
    }

    h1 {
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }

    p {
        font-size: $paragraph-size;
    }

    @include buttonStyle;

    button {
        width: 12vw;
        padding: 20px;
        background-color: $quaternion-color;
        // border-style: none;
        border-radius: 35px;
        color: white;
        font-size: 1em;

        &:hover {
            transform: scale(1.1);
        }
    }

    img {
        width: 25vw;
        border-radius: 19px;
    }
}

section {
    width: auto;
    height: auto; // background-color: pink;
    padding: 60px;

    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }

    .healthcare {
        padding-bottom: 60px;

        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }

        .card-section {
            @include flexCenter(row, space-evenly, center);
            width: auto;
            height: auto;
            column-gap: 200px;
            row-gap: 80px;
            flex-wrap: wrap;
        }

        .product-card {
            width: 14vw;
            height: 45vh;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;

            .icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;

                svg path {
                    width: 28px;
                    height: 28px;
                    stroke: #7C6A0A;
                }
            }

            .product-image {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 12vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }

        }

    }

    .forniture {
        @extend .healthcare;

        .product-card {
            background-color: $tertiary-color;
            color: white;

        }
    }
}

.about-us {
    padding-bottom: 60px;

    h2 {
        font-weight: bold;
        padding-bottom: 60px;
    }

    .mission-section {
        @include flexCenter (row, space-evenly, center);

        .earth {
            width: 30vw;
            display: flex;
            gap: 40px;
            color: #E86424;

            img {
                object-fit: cover;
            }

            p {
                text-align: center;
                font-size: $paragraph-size;
            }
        }
    }

    .innovation {
        @extend .earth;
    }
}

.gallery {
    h2 {
        font-weight: bold;
        padding-bottom: 60px;
    }

    .gallery-images {
        @include flexCenter(row, space-between, center);

        img {
            width: 28vw;
            height: 45vh;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 16px;

            &:hover {
                transform: scale(1.1);
                transition: transform 0.3s ease;
            }
        }
    }
}

.location {
    color: #E86424;

    h2 {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 2.5em;
    }

    .map {
        @include flexCenter(row, center, center);
        padding-bottom: 50px;
    }

    h3,
    p {
        font-size: $paragraph-size;

    }
}

footer {
    background-color: $quaternion-color;
    width: 100%;


    height: auto;
    padding: 40px;
    color: white;

    .social-media {
        @include flexCenter(row, center, center);
        gap: 40px;
        padding-bottom: 40px;
    }

}